# MySQL
MYSQL_ROOT_PASSWORD=

# MinIO
MINIO_ROOT_USER=fakekey
MINIO_ROOT_PASSWORD=fakesecret

# Elasticsearch
ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_INDEX=entitybase

# Kafka2SSE
KAFKA2SSE_BACKEND_URL=http://162.19.226.24:8888

# Version
VERSION_ENTITYBASE_BACKEND=v2026.4.8
VERSION_KAFKA2SSE_BACKEND=v2026.4.8
VERSION_KAFKA2SSE_FRONTEND=v2026.4.8
